source https://www.nuget.org/api/v2/

storage: none

nuget FSharp.Core 4.6.2
nuget JetBrains.FSharp.Compiler.Service 32.0.2
nuget FsUnit
nuget FsCheck
nuget Microsoft.NET.Test.Sdk
nuget NUnit3TestAdapter
nuget NunitXml.TestLogger
nuget Argu